<card-warpper *ngFor="let country of ListCard"
 [linkRoute]="'/detals/' + country?.name"
  [imagePath]="country.flag"
  [cardHeader]="country.name">


  <ng-container card-text>
    <strong>Population:</strong>
    {{ country.population | number: '1.0' }}
    <br>
  </ng-container>

  <ng-container card-text>
    <strong>Region:</strong>
    {{ country.region}}
    <br>
  </ng-container>

  <ng-container card-text>
    <strong>Capital:</strong>
    {{ country.capital  }}
  </ng-container>

</card-warpper>
