*,
*::before,
*::after {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 1rem;
    scroll-behavior: smooth;
}

body {
    font-family: $Nunito-Sans, $san-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

input,
textarea {
    border: none;
    outline: none;
    overflow: auto;
}

.country-contanier{
  padding: 2rem 0;
  @include md {
    padding: 5rem 0;
  }
}

// This is a Normalize that makes browsers render all elements more consistently
// and in line with modern standards.
