.home-page {


  .filter-contanier {
    @include flex($direction: row, $align: center, $justify: space-between,$wrap:wrap);
    padding: 2rem 0 3rem;

    .filter-search {
      border-radius: 0.25rem;
      font-size: 1rem;
      padding: 1rem;
      box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
      margin-bottom: 3rem;
      @include sm {
        width: 100%;

      }

      @include md {
        width: 40%;
        margin-bottom: 0;
      }
      span {
        font-size: 1rem;
        padding-right: 0.5rem;
      }
      input {
        font-size: 1rem;
        border: none;
        background-color: inherit;
      }
    }
    .filter-dropdown {
      box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);

      @include sm {
        width: 100%;
      }

      @include md {
        width: 200px;
      }
      * {
        &:hover,
        &:focus {
          border-color: $bg-white !important;
        }
      }
      p-dropdown {
        width: 100%;
        display: block;

        .p-dropdown {
          width: 100%;
        }
      }
    }
  }
}
